:root {
  /* Colors */
  --clr-primary: hsl(275, 96%, 52%);
  --clr-secondary: hsl(328, 92%, 58%);
  --clr-accent: hsl(25, 100%, 50%);
  --clr-text: hsl(243, 76%, 5%);
  --clr-bg: hsl(240, 60%, 99%);

  --clr-warn: hsl(0, 100%, 41%);

  --clr-min-temp: hsl(240, 70%, 50%);
  --clr-max-temp: hsl(0, 70%, 50%);

  --clr-wind-bg: hsl(166, 76%, 92%);
  --clr-visibility-bg: hsl(327, 73%, 92%);
  --clr-precipitation-bg: hsl(183, 100%, 91%);

  --clr-wind-icon: hsl(214, 95%, 83%);
  --clr-visibility-icon: hsl(269, 100%, 85%);
  --clr-precipitation-icon: hsl(185, 96%, 80%);

  --clr-gray-150: hsl(0, 0%, 15%);
  --clr-gray-300: hsl(0, 0%, 30%);
  --clr-gray-500: hsl(0, 0%, 50%);
  --clr-gray-700: hsl(0, 0%, 70%);
  --clr-gray-900: hsl(0, 0%, 90%);

  /* Font Family */
  --ff-system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-one: var(--ff-system-ui);

  /* Font Sizes */
  --font-scale: 1.25;
  --fs-x-small: calc(var(--fs-small) / var(--font-scale));
  --fs-small: calc(var(--fs-p) / var(--font-scale));
  --fs-p: 1rem;
  --fs-h6: calc(var(--fs-p) * var(--font-scale));
  --fs-h5: calc(var(--fs-h6) * var(--font-scale));
  --fs-h4: calc(var(--fs-h5) * var(--font-scale));
  --fs-h3: calc(var(--fs-h4) * var(--font-scale));
  --fs-h2: calc(var(--fs-h3) * var(--font-scale));
  --fs-h1: calc(var(--fs-h2) * var(--font-scale));

  /* Spacing */
  --spacing-unit: 1rem;
  --spacing-growth: 1.5;
  --sp-3xsm: calc(var(--sp-md) * 0.125);
  --sp-2xsm: calc(var(--sp-md) * 0.25);
  --sp-xsm: calc(var(--sp-md) * 0.5);
  --sp-sm: calc(var(--sp-md) * 0.75);
  --sp-md: var(--spacing-unit);
  --sp-lg: calc(var(--sp-md) * var(--spacing-growth));
  --sp-xlg: calc(var(--sp-lg) * var(--spacing-growth));
  --sp-2xlg: calc(var(--sp-xlg) * var(--spacing-growth));
  --sp-3xlg: calc(var(--sp-2xlg) * var(--spacing-growth));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font: var(--fs-p) / 1.6 var(--ff-one);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

button {
  cursor: pointer;
}

/* 
============================================
Custom Styles 
============================================
*/

body {
  display: grid;
  align-content: start;
  justify-content: center;

  background: linear-gradient(
    90deg,
    hsla(253, 100%, 50%, 0.147),
    hsla(180, 100%, 25%, 0.27),
    hsla(214, 100%, 50%, 0.247)
  );
}

.hidden {
  visibility: hidden;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

form {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "input button";
  justify-content: end;
  align-content: start;
  gap: 0.75em;
  margin: var(--sp-lg);
  width: min(65ch, 100%);
}

form img[alt$="icon"] {
  box-sizing: content-box;
  padding: 0.75em;
  grid-area: input;
  z-index: 1;
}

form input[type="search"] {
  grid-area: input;
  outline: none;
  padding: 0 0.5em 0 2.5em;
  border-radius: 0.5em;
  border: 1px solid var(--clr-gray-300);
  box-shadow: 0 10px 40px -17px var(--clr-gray-150);
}

form input[type="search"]::placeholder {
  color: var(--clr-gray-700);
}

form input[type="search"]:focus,
form input[type="search"]:hover {
  outline: 3px solid var(--clr-gray-500);
}
form input[type="search"]:disabled {
  background: var(--clr-gray-900);
}

form .search-button {
  grid-area: button;
  padding: 0.25em 2em;
  align-self: center;

  border-radius: var(--sp-xsm);
  background: var(--clr-text);
  color: var(--clr-bg);
  border: none;
  outline: none;
  outline-offset: 2px;
}

form .search-button:focus {
  outline: 2px solid var(--clr-text);
}

form .search-button:active {
  opacity: 0.8;
}

form .search-button:disabled {
  opacity: 0.5;
}

.warnings > * {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--sp-sm);
  padding: var(--sp-sm);
  margin-top: var(--sp-md);

  background:
    linear-gradient(hsla(0, 100%, 50%, 0.047)), linear-gradient(var(--clr-bg));
  color: var(--clr-warn);
  border-radius: var(--sp-sm);
  border: 1px solid var(--clr-gray-700);
}

.warnings > * > img {
  grid-row: span 2;
}

.warnings .headline {
  font-weight: 600;
}

.introduction {
  justify-self: center;
  display: grid;
  justify-items: center;
  text-align: center;
  max-width: 75ch;
  margin-top: var(--sp-3xlg);
  gap: var(--sp-lg);
}

.logo {
  box-sizing: content-box;
  width: var(--sp-3xlg);
  height: var(--sp-3xlg);
  padding: 1em;
  border-radius: 50%;

  background: linear-gradient(135deg, var(--clr-primary), var(--clr-secondary));
  box-shadow: 0 0 20px -5px var(--clr-primary);
}

.app-name {
  color: var(--clr-primary);
}

.introduction .description {
  color: var(--clr-text);
  font-size: var(--fs-h6);
}

.introduction .instruction {
  opacity: 0.7;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sp-2xsm);
}

.weather {
  background-color: var(--clr-bg);
  display: grid;
  position: relative;
  padding: var(--sp-xlg);
  margin: var(--sp-lg) 0;
  border-radius: var(--sp-md);
  box-shadow: 0 5px 20px -5px var(--clr-text);
}

.temperature-toggle {
  position: absolute;
  top: var(--sp-lg);
  right: var(--sp-lg);
  display: flex;
  background: var(--clr-gray-900);
  padding: var(--sp-2xsm);
  border-radius: var(--sp-xsm);
}

.temperature-toggle input {
  appearance: none;
  visibility: hidden;
  overflow: none;
}

.temperature-toggle label {
  padding: var(--sp-2xsm) var(--sp-md);
  border-radius: inherit;
}

.temperature-toggle label:last-child {
  margin-left: var(--sp-2xsm);
}

.temperature-toggle label:hover {
  background: var(--clr-gray-700);
}

.temperature-toggle input:checked + label {
  background: var(--clr-text);
  color: var(--clr-bg);
}

.primary-info {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: var(--sp-sm);
}

.primary-info .location {
  font-size: var(--fs-h3);
  font-weight: 200;
  color: var(--clr-primary);
}

.primary-info .temperature {
  font-size: var(--fs-h1);
  color: var(--clr-secondary);
}

.primary-info .description {
  color: var(--clr-gray-300);
}

.primary-info .range-temperature {
  display: grid;
  gap: var(--sp-lg);
  grid-template-columns: 1fr 1fr;
}

.primary-info .min-temp,
.primary-info .max-temp {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sp-2xsm);
}

.primary-info .min-temp {
  color: var(--clr-min-temp);
}
.primary-info .max-temp {
  color: var(--clr-max-temp);
}

.secondary-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 0 var(--sp-lg);
  margin-top: var(--sp-2xlg);
  border-top: 1px solid var(--clr-gray-900);
  padding-top: var(--sp-lg);
}

.secondary-info > * {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 var(--sp-md);
  padding: var(--sp-md);
  border-radius: var(--sp-sm);
}

.secondary-info > * > img {
  grid-row: span 2;
  padding: 0.5em;
  box-sizing: content-box;
  border-radius: inherit;
}

.secondary-info .wind-section {
  background: var(--clr-wind-bg);
}

.secondary-info .wind-section img {
  background: var(--clr-wind-icon);
}

.secondary-info .visibility-section {
  background: var(--clr-visibility-bg);
}

.secondary-info .visibility-section img {
  background: var(--clr-visibility-icon);
}

.secondary-info .precipitation-section {
  background: var(--clr-precipitation-bg);
}

.secondary-info .precipitation-section img {
  background: var(--clr-precipitation-icon);
}

.secondary-info .name {
  font-size: var(--fs-small);
  color: var(--clr-gray-300);
}
